{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Введите новый пароль
{% endblock %}

{% block content %}

  {% if validlink %}
    <h2>
      Установите новый пароль
    </h2>

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">
    Хочу вот такой пароль :)
  </button>
</form>

{% else %}

  <p>
    К сожалению, эта ссылка перешла на тёмную сторону и больше
    пароли не восстанавливает.
    <br>
    Сделайте, пожалуйста, 
      <a href="{% url 'users:password_reset' %}">
        повторный запрос светлой стороне.
      </a>
  </p>

{% endif %}
{% endblock %}